USE [master]
GO
/****** Object:  Database [SuperSale_DDS]    Script Date: 30/12/2023 15:31:55 ******/
CREATE DATABASE [SuperSale_DDS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SuperSale_DDS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SuperSale_DDS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SuperSale_DDS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SuperSale_DDS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SuperSale_DDS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SuperSale_DDS]
GO
/****** Object:  Table [dbo].[Dim_City]    Script Date: 30/12/2023 15:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_City](
	[IDBranch] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](255) NULL,
	[Branch] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
 CONSTRAINT [PK_Dim_Branch] PRIMARY KEY CLUSTERED 
(
	[IDBranch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_CustomerType]    Script Date: 30/12/2023 15:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_CustomerType](
	[IDCustomerType] [int] NOT NULL,
	[CustomerType] [nvarchar](255) NULL,
 CONSTRAINT [PK_Dim_CustomerType] PRIMARY KEY CLUSTERED 
(
	[IDCustomerType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Date]    Script Date: 30/12/2023 15:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Date](
	[IDDate] [int] IDENTITY(1,1) NOT NULL,
	[Day] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[Time] [time](7) NULL,
 CONSTRAINT [PK_Dim_Date] PRIMARY KEY CLUSTERED 
(
	[IDDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Gender]    Script Date: 30/12/2023 15:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Gender](
	[IDGender] [int] NOT NULL,
	[Gender] [nvarchar](255) NULL,
 CONSTRAINT [PK_Dim_Gender] PRIMARY KEY CLUSTERED 
(
	[IDGender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_PaymentMethod]    Script Date: 30/12/2023 15:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_PaymentMethod](
	[IDPaymentMethod_SK] [int] IDENTITY(1,1) NOT NULL,
	[IDPaymentMethod] [int] NULL,
	[PaymentMethod] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
 CONSTRAINT [PK_Dim_PaymentMethod_1] PRIMARY KEY CLUSTERED 
(
	[IDPaymentMethod_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Product]    Script Date: 30/12/2023 15:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Product](
	[IDProduct_SK] [int] IDENTITY(1,1) NOT NULL,
	[IDProductLine] [int] NOT NULL,
	[IDProduct] [nvarchar](255) NOT NULL,
	[UnitPrice] [float] NULL,
	[Status] [nvarchar](255) NULL,
 CONSTRAINT [PK_Dim_Product] PRIMARY KEY CLUSTERED 
(
	[IDProduct_SK] ASC,
	[IDProductLine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_ProductLine]    Script Date: 30/12/2023 15:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_ProductLine](
	[IDProuductLine_SK] [int] IDENTITY(1,1) NOT NULL,
	[IDProductLine] [nvarchar](255) NULL,
	[ProductLine] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
 CONSTRAINT [PK_Dim_ProductLine] PRIMARY KEY CLUSTERED 
(
	[IDProuductLine_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Sales]    Script Date: 30/12/2023 15:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Sales](
	[IDDate] [int] NOT NULL,
	[IDCustomerType] [int] NOT NULL,
	[IDPaymentMethod] [int] NOT NULL,
	[IDBranch] [int] NOT NULL,
	[IDProduct] [int] NOT NULL,
	[IDProductLine] [int] NOT NULL,
	[IDGender] [int] NOT NULL,
	[QuantityCustomer] [int] NULL,
	[Revenue] [float] NULL,
	[QuantitySold] [float] NULL,
	[Rating] [float] NULL,
 CONSTRAINT [PK_Fact_Sales] PRIMARY KEY CLUSTERED 
(
	[IDDate] ASC,
	[IDCustomerType] ASC,
	[IDPaymentMethod] ASC,
	[IDBranch] ASC,
	[IDProductLine] ASC,
	[IDGender] ASC,
	[IDProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dim_City] ON 

INSERT [dbo].[Dim_City] ([IDBranch], [City], [Branch], [Status]) VALUES (27, N'Yangon', N'A', N'Active')
INSERT [dbo].[Dim_City] ([IDBranch], [City], [Branch], [Status]) VALUES (28, N'Mandalay', N'B', N'Active')
INSERT [dbo].[Dim_City] ([IDBranch], [City], [Branch], [Status]) VALUES (29, N'Naypyitaw', N'C', N'Active')
SET IDENTITY_INSERT [dbo].[Dim_City] OFF
GO
INSERT [dbo].[Dim_CustomerType] ([IDCustomerType], [CustomerType]) VALUES (9, N'Normal')
INSERT [dbo].[Dim_CustomerType] ([IDCustomerType], [CustomerType]) VALUES (10, N'Member')
GO
SET IDENTITY_INSERT [dbo].[Dim_Date] ON 

INSERT [dbo].[Dim_Date] ([IDDate], [Day], [Month], [Year], [Time]) VALUES (7071, 1, 1, 2019, CAST(N'10:39:00' AS Time))
INSERT [dbo].[Dim_Date] ([IDDate], [Day], [Month], [Year], [Time]) VALUES (7072, 1, 1, 2019, CAST(N'11:36:00' AS Time))
INSERT [dbo].[Dim_Date] ([IDDate], [Day], [Month], [Year], [Time]) VALUES (7073, 1, 1, 2019, CAST(N'11:40:00' AS Time))
GO
SET IDENTITY_INSERT [dbo].[Dim_Date] OFF
GO
INSERT [dbo].[Dim_Gender] ([IDGender], [Gender]) VALUES (13, N'Male')
INSERT [dbo].[Dim_Gender] ([IDGender], [Gender]) VALUES (14, N'Female')
GO
SET IDENTITY_INSERT [dbo].[Dim_PaymentMethod] ON 

INSERT [dbo].[Dim_PaymentMethod] ([IDPaymentMethod_SK], [IDPaymentMethod], [PaymentMethod], [Status]) VALUES (21, 1029, N'Ewallet', N'Active')
INSERT [dbo].[Dim_PaymentMethod] ([IDPaymentMethod_SK], [IDPaymentMethod], [PaymentMethod], [Status]) VALUES (22, 1030, N'Cash', N'Active')
INSERT [dbo].[Dim_PaymentMethod] ([IDPaymentMethod_SK], [IDPaymentMethod], [PaymentMethod], [Status]) VALUES (23, 1031, N'Credit card', N'Active')
SET IDENTITY_INSERT [dbo].[Dim_PaymentMethod] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Product] ON 

INSERT [dbo].[Dim_Product] ([IDProduct_SK], [IDProductLine], [IDProduct], [UnitPrice], [Status]) VALUES (2830, 39, N'PID01', 74.690000000000012, N'Active')
INSERT [dbo].[Dim_Product] ([IDProduct_SK], [IDProductLine], [IDProduct], [UnitPrice], [Status]) VALUES (2831, 39, N'PID722', 93.2, N'Active')
INSERT [dbo].[Dim_Product] ([IDProduct_SK], [IDProductLine], [IDProduct], [UnitPrice], [Status]) VALUES (2832, 39, N'PID720', 37.059999999999995, N'Active')
GO
SET IDENTITY_INSERT [dbo].[Dim_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_ProductLine] ON 

INSERT [dbo].[Dim_ProductLine] ([IDProuductLine_SK], [IDProductLine], [ProductLine], [Status]) VALUES (39, N'PD001', N'Health and beauty', N'Active')
INSERT [dbo].[Dim_ProductLine] ([IDProuductLine_SK], [IDProductLine], [ProductLine], [Status]) VALUES (40, N'PD002', N'Electronic accessories', N'Active')
INSERT [dbo].[Dim_ProductLine] ([IDProuductLine_SK], [IDProductLine], [ProductLine], [Status]) VALUES (41, N'PD003', N'Home and lifestyle', N'Active')
SET IDENTITY_INSERT [dbo].[Dim_ProductLine] OFF
GO
INSERT [dbo].[Fact_Sales] ([IDDate], [IDCustomerType], [IDPaymentMethod], [IDBranch], [IDProduct], [IDProductLine], [IDGender], [QuantityCustomer], [Revenue], [QuantitySold], [Rating]) VALUES (7071, 9, 23, 27, 2866, 39, 13, 1, 457.443, 6, 6.9)
INSERT [dbo].[Fact_Sales] ([IDDate], [IDCustomerType], [IDPaymentMethod], [IDBranch], [IDProduct], [IDProductLine], [IDGender], [QuantityCustomer], [Revenue], [QuantitySold], [Rating]) VALUES (7072, 10, 23, 28, 3553, 43, 14, 1, 888.615, 10, 9)
INSERT [dbo].[Fact_Sales] ([IDDate], [IDCustomerType], [IDPaymentMethod], [IDBranch], [IDProduct], [IDProductLine], [IDGender], [QuantityCustomer], [Revenue], [QuantitySold], [Rating]) VALUES (7073, 10, 21, 29, 3314, 42, 14, 1, 184.086, 6, 5)
GO
ALTER TABLE [dbo].[Dim_Product]  WITH CHECK ADD  CONSTRAINT [FK_Dim_Product_Dim_ProductLine] FOREIGN KEY([IDProductLine])
REFERENCES [dbo].[Dim_ProductLine] ([IDProuductLine_SK])
GO
ALTER TABLE [dbo].[Dim_Product] CHECK CONSTRAINT [FK_Dim_Product_Dim_ProductLine]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sales_Dim_Branch] FOREIGN KEY([IDBranch])
REFERENCES [dbo].[Dim_City] ([IDBranch])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_Fact_Sales_Dim_Branch]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sales_Dim_CustomerType] FOREIGN KEY([IDCustomerType])
REFERENCES [dbo].[Dim_CustomerType] ([IDCustomerType])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_Fact_Sales_Dim_CustomerType]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sales_Dim_Date] FOREIGN KEY([IDDate])
REFERENCES [dbo].[Dim_Date] ([IDDate])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_Fact_Sales_Dim_Date]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sales_Dim_Gender] FOREIGN KEY([IDGender])
REFERENCES [dbo].[Dim_Gender] ([IDGender])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_Fact_Sales_Dim_Gender]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sales_Dim_PaymentMethod1] FOREIGN KEY([IDPaymentMethod])
REFERENCES [dbo].[Dim_PaymentMethod] ([IDPaymentMethod_SK])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_Fact_Sales_Dim_PaymentMethod1]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sales_Dim_Product] FOREIGN KEY([IDProduct], [IDProductLine])
REFERENCES [dbo].[Dim_Product] ([IDProduct_SK], [IDProductLine])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_Fact_Sales_Dim_Product]
GO
USE [master]
GO
