USE [master]
GO
/****** Object:  Database [SuperSale_NDS]    Script Date: 17/12/2023 18:00:12 ******/
CREATE DATABASE [SuperSale_NDS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SuperSale_NDS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SuperSale_NDS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SuperSale_NDS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SuperSale_NDS_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SuperSale_NDS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SuperSale_NDS]
GO
/****** Object:  Table [dbo].[NDS_City]    Script Date: 17/12/2023 18:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDS_City](
	[Branch] [nvarchar](255) NOT NULL,
	[City] [nvarchar](255) NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [nvarchar](255) NULL,
 CONSTRAINT [PK_NDS_City] PRIMARY KEY CLUSTERED 
(
	[Branch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDS_CustomerType]    Script Date: 17/12/2023 18:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDS_CustomerType](
	[CustomerTypeID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerType] [nvarchar](255) NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [nvarchar](255) NULL,
 CONSTRAINT [PK_NDS_CustomerType] PRIMARY KEY CLUSTERED 
(
	[CustomerTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDS_Gender]    Script Date: 17/12/2023 18:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDS_Gender](
	[GenderID] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [nvarchar](255) NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [nvarchar](255) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[GenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDS_Payment]    Script Date: 17/12/2023 18:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDS_Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[Payment] [nvarchar](255) NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [nvarchar](255) NULL,
 CONSTRAINT [PK_NDS_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDS_Product]    Script Date: 17/12/2023 18:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDS_Product](
	[ProductID] [nvarchar](255) NOT NULL,
	[UnitPrice] [float] NULL,
	[ProductLine] [nvarchar](255) NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [nvarchar](255) NULL,
 CONSTRAINT [PK_NDS_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDS_ProductLine]    Script Date: 17/12/2023 18:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDS_ProductLine](
	[ProductLineID] [nvarchar](255) NOT NULL,
	[ProductLine] [nvarchar](255) NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [nvarchar](255) NULL,
 CONSTRAINT [PK_NDS_ProductLine_1] PRIMARY KEY CLUSTERED 
(
	[ProductLineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDS_sales]    Script Date: 17/12/2023 18:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDS_sales](
	[InvoiceID] [nvarchar](255) NOT NULL,
	[Branch] [nvarchar](255) NULL,
	[CustomerTypeID] [int] NULL,
	[GenderID] [int] NULL,
	[ProductID] [nvarchar](255) NULL,
	[Quantity] [int] NULL,
	[Total] [float] NULL,
	[Date] [date] NULL,
	[Time] [time](7) NULL,
	[PaymentID] [int] NULL,
	[cogs] [float] NULL,
	[grossMarginPercentage] [float] NULL,
	[grossIncome] [float] NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [nvarchar](255) NULL,
 CONSTRAINT [PK_sales] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NDS_Product]  WITH CHECK ADD  CONSTRAINT [FK_NDS_Product_NDS_ProductLine] FOREIGN KEY([ProductLine])
REFERENCES [dbo].[NDS_ProductLine] ([ProductLineID])
GO
ALTER TABLE [dbo].[NDS_Product] CHECK CONSTRAINT [FK_NDS_Product_NDS_ProductLine]
GO
ALTER TABLE [dbo].[NDS_sales]  WITH CHECK ADD  CONSTRAINT [FK_NDS_sales_Gender] FOREIGN KEY([GenderID])
REFERENCES [dbo].[NDS_Gender] ([GenderID])
GO
ALTER TABLE [dbo].[NDS_sales] CHECK CONSTRAINT [FK_NDS_sales_Gender]
GO
ALTER TABLE [dbo].[NDS_sales]  WITH CHECK ADD  CONSTRAINT [FK_NDS_sales_NDS_City] FOREIGN KEY([Branch])
REFERENCES [dbo].[NDS_City] ([Branch])
GO
ALTER TABLE [dbo].[NDS_sales] CHECK CONSTRAINT [FK_NDS_sales_NDS_City]
GO
ALTER TABLE [dbo].[NDS_sales]  WITH CHECK ADD  CONSTRAINT [FK_NDS_sales_NDS_CustomerType] FOREIGN KEY([CustomerTypeID])
REFERENCES [dbo].[NDS_CustomerType] ([CustomerTypeID])
GO
ALTER TABLE [dbo].[NDS_sales] CHECK CONSTRAINT [FK_NDS_sales_NDS_CustomerType]
GO
ALTER TABLE [dbo].[NDS_sales]  WITH CHECK ADD  CONSTRAINT [FK_NDS_sales_NDS_Payment] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[NDS_Payment] ([PaymentID])
GO
ALTER TABLE [dbo].[NDS_sales] CHECK CONSTRAINT [FK_NDS_sales_NDS_Payment]
GO
ALTER TABLE [dbo].[NDS_sales]  WITH CHECK ADD  CONSTRAINT [FK_NDS_sales_NDS_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[NDS_Product] ([ProductID])
GO
ALTER TABLE [dbo].[NDS_sales] CHECK CONSTRAINT [FK_NDS_sales_NDS_Product]
GO
USE [master]
GO
