USE [master]
GO
/****** Object:  Database [SuperSale]    Script Date: 17/12/2023 18:00:57 ******/
CREATE DATABASE [SuperSale]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SuperSale', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SuperSale.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SuperSale_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SuperSale_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SuperSale].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SuperSale]
GO
/****** Object:  Table [dbo].[City]    Script Date: 17/12/2023 18:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Branch] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 17/12/2023 18:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [nvarchar](255) NULL,
	[Unit price] [float] NULL,
	[ProductLine] [nvarchar](255) NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductLine]    Script Date: 17/12/2023 18:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLine](
	[ProductLine] [nvarchar](255) NULL,
	[ProductLineID] [nvarchar](255) NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 17/12/2023 18:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales](
	[InvoiceID] [nvarchar](255) NULL,
	[Branch] [nvarchar](255) NULL,
	[CustomerType] [nvarchar](255) NULL,
	[Gendar] [nvarchar](255) NULL,
	[ProductID] [nvarchar](255) NULL,
	[Quantity] [int] NULL,
	[tax5%] [float] NULL,
	[Total] [float] NULL,
	[Date] [date] NULL,
	[Time] [time](7) NULL,
	[Payment] [nvarchar](255) NULL,
	[cogs] [real] NULL,
	[grossMarginPercentage] [real] NULL,
	[grossIncome] [real] NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [nvarchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[City] ADD  CONSTRAINT [DF_City_create_at]  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[City] ADD  CONSTRAINT [DF_City_update_at]  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_create_at]  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_update_at]  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[ProductLine] ADD  CONSTRAINT [DF_ProductLine_create_at]  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[ProductLine] ADD  CONSTRAINT [DF_ProductLine_update_at]  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[sales] ADD  CONSTRAINT [DF_sales_create_at]  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[sales] ADD  CONSTRAINT [DF_sales_update_at]  DEFAULT (getdate()) FOR [update_at]
GO
USE [master]
GO
