USE [master]
GO
/****** Object:  Database [SuperSale_Source]    Script Date: 20/12/2023 22:04:14 ******/
CREATE DATABASE [SuperSale_Source]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SuperSale_Source', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SuperSale_Source.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SuperSale_Source_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SuperSale_Source_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SuperSale_Source].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SuperSale_Source]
GO
/****** Object:  Table [dbo].[city$]    Script Date: 20/12/2023 22:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city$](
	[Branch] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[Create_at] [datetime] NULL,
	[Update_at] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product$]    Script Date: 20/12/2023 22:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product$](
	[ProductID] [nvarchar](255) NULL,
	[Unit price] [float] NULL,
	[ProductLine] [nvarchar](255) NULL,
	[Create_at] [datetime] NULL,
	[Update_at] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductLine$]    Script Date: 20/12/2023 22:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLine$](
	[Product line] [nvarchar](255) NULL,
	[ProductLineID] [nvarchar](255) NULL,
	[Create_at] [datetime] NULL,
	[Update_at] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supermarket_sales$]    Script Date: 20/12/2023 22:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supermarket_sales$](
	[Invoice ID] [nvarchar](255) NULL,
	[Branch] [nvarchar](255) NULL,
	[Customer type] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[ProductID] [nvarchar](255) NULL,
	[Quantity] [float] NULL,
	[Tax 5%] [float] NULL,
	[Total] [float] NULL,
	[Date] [datetime] NULL,
	[Time] [datetime] NULL,
	[Payment] [nvarchar](255) NULL,
	[cogs] [float] NULL,
	[gross margin percentage] [float] NULL,
	[gross income] [float] NULL,
	[Rating] [float] NULL,
	[Create_at] [datetime] NULL,
	[Update_at] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[city$] ([Branch], [City], [Create_at], [Update_at]) VALUES (N'A', N'Yangon', CAST(N'2018-01-01T15:02:30.000' AS DateTime), CAST(N'2018-01-01T15:02:30.000' AS DateTime))
INSERT [dbo].[city$] ([Branch], [City], [Create_at], [Update_at]) VALUES (N'C', N'Naypyitaw', CAST(N'2018-01-01T15:02:30.000' AS DateTime), CAST(N'2018-01-01T15:02:30.000' AS DateTime))
INSERT [dbo].[city$] ([Branch], [City], [Create_at], [Update_at]) VALUES (N'B', N'Mandalay', CAST(N'2018-01-01T15:02:30.000' AS DateTime), CAST(N'2018-01-01T15:02:30.000' AS DateTime))
GO
INSERT [dbo].[product$] ([ProductID], [Unit price], [ProductLine], [Create_at], [Update_at]) VALUES (N'PID01', 74.690000000000012, N'PD001', CAST(N'2018-01-01T15:02:30.000' AS DateTime), CAST(N'2018-01-01T15:02:30.000' AS DateTime))
INSERT [dbo].[product$] ([ProductID], [Unit price], [ProductLine], [Create_at], [Update_at]) VALUES (N'PID02', 58.22, N'PD002', CAST(N'2018-01-01T15:02:30.000' AS DateTime), CAST(N'2018-01-01T15:02:30.000' AS DateTime))
INSERT [dbo].[product$] ([ProductID], [Unit price], [ProductLine], [Create_at], [Update_at]) VALUES (N'PID03', 68.84, N'PD003', CAST(N'2018-01-01T15:02:30.000' AS DateTime), CAST(N'2018-01-01T15:02:30.000' AS DateTime))
GO
INSERT [dbo].[ProductLine$] ([Product line], [ProductLineID], [Create_at], [Update_at]) VALUES (N'Health and beauty', N'PD001', CAST(N'2018-01-01T15:02:30.000' AS DateTime), CAST(N'2018-01-01T15:02:30.000' AS DateTime))
INSERT [dbo].[ProductLine$] ([Product line], [ProductLineID], [Create_at], [Update_at]) VALUES (N'Electronic accessories', N'PD002', CAST(N'2018-01-01T15:02:30.000' AS DateTime), CAST(N'2018-01-01T15:02:30.000' AS DateTime))
INSERT [dbo].[ProductLine$] ([Product line], [ProductLineID], [Create_at], [Update_at]) VALUES (N'Home and lifestyle', N'PD003', CAST(N'2018-01-01T15:02:30.000' AS DateTime), CAST(N'2018-01-01T15:02:30.000' AS DateTime))
GO
INSERT [dbo].[supermarket_sales$] ([Invoice ID], [Branch], [Customer type], [Gender], [ProductID], [Quantity], [Tax 5%], [Total], [Date], [Time], [Payment], [cogs], [gross margin percentage], [gross income], [Rating], [Create_at], [Update_at]) VALUES (N'750-67-8428', N'A', N'Member', N'Female', N'PID01', 7, 26.1415, 548.9715, CAST(N'2019-01-05T00:00:00.000' AS DateTime), CAST(N'1899-12-30T13:08:00.000' AS DateTime), N'Ewallet', 522.83, 4.761904762, 26.1415, 9.1, CAST(N'2019-01-05T13:08:00.000' AS DateTime), CAST(N'2019-01-05T13:08:00.000' AS DateTime))
INSERT [dbo].[supermarket_sales$] ([Invoice ID], [Branch], [Customer type], [Gender], [ProductID], [Quantity], [Tax 5%], [Total], [Date], [Time], [Payment], [cogs], [gross margin percentage], [gross income], [Rating], [Create_at], [Update_at]) VALUES (N'123-19-1176', N'A', N'Member', N'Male', N'PID02', 8, 23.288, 489.048, CAST(N'2019-01-27T00:00:00.000' AS DateTime), CAST(N'1899-12-30T20:33:00.000' AS DateTime), N'Ewallet', 465.76, 4.761904762, 23.288, 8.4, CAST(N'2019-01-27T20:33:00.000' AS DateTime), CAST(N'2019-01-27T20:33:00.000' AS DateTime))
INSERT [dbo].[supermarket_sales$] ([Invoice ID], [Branch], [Customer type], [Gender], [ProductID], [Quantity], [Tax 5%], [Total], [Date], [Time], [Payment], [cogs], [gross margin percentage], [gross income], [Rating], [Create_at], [Update_at]) VALUES (N'355-53-5943', N'A', N'Member', N'Female', N'PID03', 6, 20.652, 433.692, CAST(N'2019-02-25T00:00:00.000' AS DateTime), CAST(N'1899-12-30T14:36:00.000' AS DateTime), N'Ewallet', 413.04, 4.761904762, 20.652, 5.8, CAST(N'2019-02-25T14:36:00.000' AS DateTime), CAST(N'2019-02-25T14:36:00.000' AS DateTime))
GO
USE [master]
GO
